.battleInfoContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-left:2rem;
    padding: 1rem;

}

.myBattleInfoWrapper {

    padding:1rem;
    

}


