.battleInfoContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-left:2rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    background-color:rgba(255, 11, 197, .6);
    text-align:center;
    height: 50%;
    width: 35%;

}

.myBattleInfoWrapper {

    padding:1rem;
    

}

.myBattleInfoWrapper h2 {
    font-size:20px;
}


@media (max-width: 600px) {
      .battleInfoContainer {
          padding: 0;
          width: 76%;
          height: auto;
          margin:.5rem 0;
      }

     

}