.gameBoard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin:0 auto;
    max-width: 1200px;
}

.whosTurn {
    font-size:1rem;
    position:absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(168, 0, 246, 0.8);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    padding:1rem;
}

.whosTurn h3 {
    padding:0;
    margin:0;
    
}

.opponentSide,
.mySide {
    width: 100%;
    padding:2rem;


}

.opponentSide {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    height: calc(50vh -400px);

}

.mySide {
    height: 50vh;
    display:flex;
    flex-direction:column;
}

.mySideBody {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
}