.opponentCardContainer {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
width:100%;

}

.opponentCardWrapper {
    width: 400px;
    align-self:flex-end;
    animation: slideLeft 1s linear;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    margin-top:5vh;
    text-align:center;
    height: 278px;
     background: rgba(168, 0, 246, 0.8);
    /* transform: translateY(70px); */
    
   
}

.opponentCardWrapper h2 {
    font-size: 1.5rem;
}

.opponentCardImageWrapper {
    width: 90%;
    margin: 0 auto;
}

.opponentCardImageWrapper img {
    max-height: 200px;
    object-fit: cover;
    object-position:top;
    width: 100%;
}

@keyframes slideLeft {
    0%{
        transform:translateX(-400px)
    }
    100% {
        transform: translateX(0)
    }
}

@media(max-width:700px) {
    .opponentCardContainer {
     

    }

    .opponentCardWrapper {
        width:40%;
    }
}

@media(max-width:600px) {
    .opponentCardContainer {
        display:flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
    }

    .opponentBattleInfoContainer {
        width:78% !important;
        margin:0.5rem 0;
    }
    
    .opponentCardWrapper {
        align-self: center;
        width:78%;
    }
    
    .opponentCardWrapper h2 {
        font-size:1.25rem;
    }
    
    .opponentBattleInfoWrapper {
        padding:0rem !important;
        width:100% !important;
    }

}